<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="forgot-password-container">
    <ion-card class="forgot-password-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">¿Olvidaste tu contraseña?</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Ingresa tu correo electrónico para recibir instrucciones</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="sendResetLink()">
          <ion-item lines="none">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" class="custom-button" [disabled]="!email">
            Enviar Enlace
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
