.card ion-card h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px 
}

ion-label h2 {
    font-size: 13px;
    padding: 15px;
}

.conteiner-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 150px;
    }
}

ion-icon {
    margin-left: 25px;
    font-size: 30px; /* Ajusta el tamaño del ícono */
    color: black;
}






