<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="container-logo">
      <img src="assets/logo2.png" alt="Logo" style="width: 150px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard-content">
    <ion-button class="custom-btn" color="danger"  (click)="agregar_asig()">Agregar Asignatura</ion-button>
    <ion-list *ngFor="let aux of usuarios" class="custom-list">
      <ion-item class="custom-item">
        <ion-label>
          <p class="user-type">Tipo de Usuario: {{ aux.tipo }}</p>
          <h2 class="user-email">{{ aux.email }}</h2>
        </ion-label>
        <ion-button fill="outline" color="danger" (click)="editarUser(aux.uid)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
