<body class="contenido">
  <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
  </ion-buttons>
  
  <div class="topics-section">
    <div class="card-container">
      <ion-card class="topic-card" (click)="verAsig()">
        <img src="../../../../assets/alumnos/asistencia.png" alt="Asignaturas">
        <ion-card-content>Asignaturas</ion-card-content>
      </ion-card>
      
      <ion-card class="topic-card" (click)="mapa()">
        <img src="../../../../assets/alumnos/mapa.png" alt="Mapa">
        <ion-card-content>Mapa</ion-card-content>
      </ion-card>
    </div>
  </div>
</body>
