.topics-section {
  padding: 16px;
  margin-top: 40px;
  display: flex;
  justify-content: center; /* Centra todo el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: calc(100vh - 80px); /* Altura dinámica sin el header */
}

.card-container {
  display: flex;
  justify-content: space-between; /* Coloca las tarjetas en los extremos */
  align-items: center;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  max-width: 800px; /* Ancho máximo del contenedor para limitar el tamaño */
}

.topic-card {
  width: 300px; /* Ocupa el 45% del ancho del contenedor */
  height: 200px; /* Altura fija para cada tarjeta */
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  background-color: #fff; /* Fondo blanco para contraste */
}

.topic-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

ion-card-content {
  font: oblique bold 120% cursive;
  font-size: 18px;
}

body.contenido {
  background-image: url(../../../../assets/alumnos/fondo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.conteiner-logo {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.imagenRegistro {
  margin-top: 10px;
}
